---
---

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #000000 !default;
$header-bg-color: #fff !default;
$header-bg-color-secondary: #fff !default;

// Text
$section-headings-color: #000000 !default;
$body-text-color: #000000 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

@import "{{ site.theme }}";

.project-tagline {
  margin-bottom: 0.1rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.75rem;
  }

  @include medium {
    font-size: 1.5rem;
  }

  @include small {
    font-size: 1.25rem;
  }
}

.project-authors {
  margin-bottom: 1.0rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}


.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(0, 0, 0, 0.35);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(0, 0, 0, 0.1);
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}
